*
	margin 0
	padding 0
	box-sizing border-box
html
	font-family sans-serif
h1
	position relative
	margin-bottom 30px
	padding-bottom 30px
	font-size 36px
	text-transform uppercase
	text-align center
	&::after
		position absolute
		bottom 0
		left 50%
		transform translateX(-50%)
		display block
		content ''
		width 64px
		border-top 2px solid
section
	display flex
	justify-content center
.container
	flex 0 1 1120px
.subheader
	margin-bottom 55px
	text-align center
@import ('../blocks/**/*')