.testimonials
	padding 108px 0
	color #86878b
	h1
		color #212121
		&::after
			border-color #ff8b38
	&__items
		display flex
		justify-content space-between
		list-style none
	&__item
		flex 0 0 272px
		.item
			&__body
				position relative
				margin-bottom 22px
				padding 24px 12px
				background-color #f5f5f5
				&::after
					content ''
					position absolute
					bottom -24px
					left 28px
					border 10px solid transparent
					border-top 14px solid #f5f5f5
			&__author
				display flex
				align-items center
				.author
					&__photo
						margin-right 15px
					&__name
						h2
							font-size 20px
							color #333
							