section.testimonials
	.container
		h1 what our customers are saying
		p.subheader Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		ul.testimonials__items
			li.testimonials__item
				.item__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
				.item__author
					.author__photo
						img(src='images/avatar_2_u231.png' alt='')
					.author__name
						h2 Jeremy H.
						p Manager
			li.testimonials__item
				.item__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
				.item__author
					.author__photo
						img(src='images/avatar_2_u231.png' alt='')
					.author__name
						h2 John S.
						p Freelancer
			li.testimonials__item
				.item__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
				.item__author
					.author__photo
						img(src='images/avatar_2_u231.png' alt='')
					.author__name
						h2 Susan W.
						p Photographer